html { font-size: 100%; }
body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
#content {
  font-size: 0.88em;
  margin-right: 440px;
  padding: 20px;
}
nav {
  font-size: 0.88em;
  background-color: #eeeeee;
  width: 250px;
  float: right;
  border: 1px solid #cccccc;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  padding-bottom: 0px;
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;
}
nav ul {
  padding: 20px;
  padding-top: 0px;
  list-style-type: square;
}
nav ul li {
  margin: 0em;
  padding: 5px;
}
nav #navlogin { width: 216px; }
#rss {
  position: absolute;
  right: 300px;
}
#comments {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999999;
}
.block { margin-bottom: 20px; }
h1 {
  font-weight: bold;
  font-size: 2em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
  line-height: 1.75em;
}
h2 {
  font-weight: bold;
  font-size: 1.75em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
}
h3 {
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 1em;
  margin-bottom: 0.75em;
  margin-left: 5px;
}
a {
  color: #107fc9;
  text-decoration: none;
  border-bottom: 1px dotted #107fc9;
}
a:hover { border-bottom: 1px solid #107fc9; }
pre, code {
  font-size: 1.25em;
  font-family: monospace;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  margin: 0px 5px 1em;
  line-height: 1.5em;
}
p {
  line-height: 1.5em;
  margin: 0px 5px 1em;
}
.bullets {
  list-style-type: square;
  padding: 20px;
  padding-top: 0px;
}
.bullets li { padding-left: 5px; }
.postInfo { font-size: 0.9em; }
.postInfo a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #aaaaaa;
  color: #111111;
}
.postInfo a:hover { border-bottom: 1px solid #aaaaaa; }
.postType {
  color: #ffffff;
  background-color: #e22929;
  border: 1px solid #ff3333;
  border-bottom: 1px solid #8c1717;
  border-right: 1px solid #8c1717;
  padding: 3px;
}
.postType a {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.postType a:hover { border-bottom: 1px solid #ffffff; }
#files {
  margin-bottom: 1.5em;
  margin-left: 5px;
}
#files ul li a {
  color: #333333;
  border: none;
}
#files ul li a:hover {
  border: none;
  color: #000000;
}
.commentBox {
  clear: both;
  background-color: #eeeeee;
  padding: 5px;
  color: #333333;
  font-weight: bold;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
.gravatar { float: left; }
.comment {
  line-height: 1.5em;
  color: #222222;
  margin-bottom: 1em;
  padding: 5px;
  margin-left: 48px;
}
.latestComment {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 5px;
}
#welcome {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
#post-content { margin: 20px 5px; }
#body_box { border: 1px solid #cccccc; }
#id_comment {
  height: 200px;
  width: 400px;
  line-height: 150%;
}
input, textarea {
  padding: 7px;
  border: solid 1px #cccccc;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  clear: both;
}
input[type=checkbox] { width: auto; }
textarea {
  height: 400px;
  width: 500px;
}
input:hover { border-color: #bbbbbb; }
textarea:hover { border-color: #bbbbbb; }
input:focus { border-color: #bbbbbb; }
textarea:focus { border-color: #bbbbbb; }
form ol { list-style: none; }
form li { clear: both; }
form label {
  float: left;
  margin-right: 6px;
  line-height: 30px;
  clear: both;
}
form .button { padding: 9px; }
.CodeMirror-wrapping {
  border: 1px solid #cccccc;
  margin: 20px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
.textboxlist-autocomplete {
  position: absolute;
  width: 600px;
  z-index: 1000;
}
.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results {
  opacity: 0.9;
  filter: alpha(opacity=90);
  background: #eeeeee;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  border: 1px solid #999999;
  border-top: none;
  display: none;
}
.textboxlist-autocomplete-placeholder { padding: 5px 7px; }
.textboxlist-autocomplete-results {
  margin: 0;
  padding: 0;
}
.textboxlist-autocomplete-result {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  background: #eeeeee;
}
.textboxlist-autocomplete-result-focus { background: #c6d9e4; }
.textboxlist-autocomplete-highlight {
  background: #eef0c4;
  font-weight: bold;
}
.textboxlist {
  font: 11px "Lucida Grande", Verdana;
  cursor: text;
}
.textboxlist-bits {
  zoom: 1;
  overflow: hidden;
  margin: 0;
  padding: 3px 4px 0;
  border: 1px solid #cccccc;
  *padding-bottom: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
.textboxlist-bit {
  list-style-type: none;
  float: left;
  display: block;
  padding: 0;
  margin: 0 5px 3px 0;
  cursor: default;
}
.textboxlist-bit-editable { border: 1px solid #ffffff; }
.textboxlist-bit-editable-input {
  border: 0;
  padding: 2px 0;
  *padding-bottom: 0;
  height: 14px;
  font: 11px "Lucida Grande", Verdana;
}
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box {
  position: relative;
  line-height: 18px;
  padding: 0 5px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #cad8f3;
  background: #dee7f8;
  cursor: default;
}
.textboxlist-bit-box-deletable { padding-right: 15px; }
.textboxlist-bit-box-deletebutton {
  position: absolute;
  right: 4px;
  top: 6px;
  display: block;
  width: 7px;
  height: 7px;
  font-size: 1px;
  background: url('../img/close.gif');
}
.textboxlist-bit-box-deletebutton:hover {
  border: none;
  background-position: 7px;
  text-decoration: none;
}
.textboxlist-bit-box-hover {
  background: #bbcef1;
  border: 1px solid #6d95e0;
}
.textboxlist-bit-box-focus {
  border-color: #598bec;
  background: #598bec;
  color: #ffffff;
}
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }
#advanced {
  background-color: #eeeeee;
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  width: 300px;
  text-align: right;
}
#advanced h3 { text-align: left; }
#profile {
  background-color: #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  width: 400px;
  border: 1px solid #cccccc;
}
#profile td { padding: 10px; }
#profile tr td a {
  color: #ffffff;
  font-weight: bold;
  background-color: #999999;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #333333;
}
