@import "base.less";

li:not(#ignoredByIE) > input[type="radio"] {
  display: none;
}

li:not(#ignoredByIE) > input[type="radio"] + label.lpill, 
li:not(#ignoredByIE) > input[type="radio"] + label.mpill, 
li:not(#ignoredByIE) > input[type="radio"] + label.rpill {
  clear: none !important;
  display: inline-block;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  margin: 0;
  margin-bottom: 5px;
  padding: 0px 12px;
  border: 1px solid #777;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom,from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
}

li:not(#ignoredByIE) > input[type="radio"] + label.lpill {
  border-right: 0;
  .rounded-tl();
  .rounded-bl();
  -webkit-background-clip: padding-box;
}

li:not(#ignoredByIE) > input[type="radio"] + label.mpill {
  margin-left: -5px;
  border-right: 0;
}

li:not(#ignoredByIE) > input[type="radio"] + label.rpill {
  margin-left: -5px;
  margin-right: 15px;
  .rounded-tr();
  .rounded-br();
  -webkit-background-clip: padding-box;
}

li:not(#ignoredByIE) > input[type=radio]:checked + label, 
li:not(#ignoredByIE) > input[type="radio"] + label:active {
  background: #ccc;
  background: -webkit-gradient(linear, left top, left bottom,from(#ddd), to(#bbb));
  background: -moz-linear-gradient(top, #ddd, #bbb);
  text-shadow: 0 1px 0 #eee;
  -webkit-box-shadow: inset 0 1px 4px #000;
  -moz-box-shadow: inset 0 1px 4px #000;
  box-shadow: inset 0 1px 4px #000;
}

li:not(#ignoredByIE) > input[type="radio"] + label::-moz-focus-inner {
  border: 0;
} 

li:not(#ignoredByIE) > input[type="radio"] + label:focus {     
  outline: none; 
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  border-right: 0;
  .rounded();
  -webkit-background-clip: padding-box;
  padding: 4px 12px;
  border: 1px solid #777;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom,from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);

  :active {
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom,from(#ddd), to(#bbb));
    background: -moz-linear-gradient(top, #ddd, #bbb);
    text-shadow: 0 1px 0 #eee;
    -webkit-box-shadow: inset 0 1px 4px #000;
    -moz-box-shadow: inset 0 1px 4px #000;
    box-shadow: inset 0 1px 4px #000;
  }
}
