html { font-size: 100%; }
body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
#content {
  font-size: 0.88em;
  margin-right: 440px;
  padding: 20px;
}
nav {
  font-size: 0.88em;
  background-color: #eeeeee;
  width: 250px;
  float: right;
  border: 1px solid #cccccc;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  padding-bottom: 0px;
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;
}
nav ul {
  padding: 20px;
  padding-top: 0px;
  list-style-type: square;
}
nav ul li {
  margin: 0em;
  padding: 5px;
}
#comments {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999999;
}
.block { margin-bottom: 20px; }
h1 {
  font-weight: bold;
  font-size: 2em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
  line-height: 1.75em;
}
h2 {
  font-weight: bold;
  font-size: 1.75em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
}
h3 {
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 1em;
  margin-bottom: 0.75em;
  margin-left: 5px;
}
a {
  color: #107fc9;
  text-decoration: none;
  border-bottom: 1px dotted #107fc9;
}
a:hover { border-bottom: 1px solid #107fc9; }
pre, code {
  font-size: 1.25em;
  margin: 5px;
  background-color: #eeeeee;
  padding: 5px;
  font-family: monospace;
  color: #333333;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  margin: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
p {
  line-height: 1.5em;
  margin: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
}
ul li {
  line-height: 1.5em;
  margin: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
}
.postInfo { font-size: 0.9em; }
.postInfo a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #aaaaaa;
  color: #111111;
}
.postInfo a:hover { border-bottom: 1px solid #aaaaaa; }
.postType {
  color: #ffffff;
  background-color: #e22929;
  border: 1px solid #ff3333;
  border-bottom: 1px solid #8c1717;
  border-right: 1px solid #8c1717;
  padding: 3px;
}
.postType a {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.postType a:hover { border-bottom: 1px solid #ffffff; }
#files {
  margin-bottom: 1.5em;
  margin-left: 5px;
}
#files ul li a {
  color: #333333;
  border: none;
}
#files ul li a:hover {
  border: none;
  color: #000000;
}
.commentBox {
  clear: both;
  background-color: #eeeeee;
  padding: 5px;
  color: #333333;
  font-weight: bold;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
.gravatar { float: left; }
.comment {
  line-height: 1.5em;
  color: #222222;
  margin-bottom: 1em;
  padding: 5px;
  margin-left: 48px;
}
.latestComment {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 5px;
}
#welcome {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
#post-content { margin: 20px 5px; }
#body_box { border: 1px solid #cccccc; }
#id_comment {
  height: 200px;
  width: 400px;
  line-height: 150%;
}
input, textarea {
  padding: 7px;
  border: solid 1px #cccccc;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
input:hover { border-color: #bbbbbb; }
textarea:hover { border-color: #bbbbbb; }
input:focus { border-color: #bbbbbb; }
textarea:focus { border-color: #bbbbbb; }
form ol { list-style: none; }
form li { clear: both; }
form label {
  float: left;
  margin-right: 6px;
  line-height: 30px;
}
form .button { padding: 9px; }
.CodeMirror-wrapping {
  border: 1px solid #cccccc;
  margin: 20px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -opera-border-radius: 4px;
  border-radius: 4px;
}
