@background-gray: #eee;
@border-gray: #ccc;
@border-focus: #bbb;

.rounded(@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -opera-border-radius: @radius;
  border-radius: @radius;
}

.rounded-bl(@radius: 4px) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-left-radius: @radius;
}

.opacity(@val: 0) {
  opacity: @val;
  -moz-opacity: @val;
  filter:alpha(opacity=@val);
  -khtml-opacity: @val;
}

/* Layout */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* Layout */
#content {
  font-size: 0.88em;
  margin-right: 440px;
  padding: 20px;
}

nav {
  font-size: 0.88em;
  background-color: @background-gray;
  width: 250px;
  float: right;
  border: 1px solid @border-gray;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  padding-bottom: 0px;
  position: fixed;
  right: 0px;
  top: 0;
  bottom: 0;

  ul { 
    padding: 20px;
    padding-top: 0px; 
    list-style-type: square; 

    li {
      margin: 0em;
      padding: 5px; 
    }
  }
}

#comments {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999;
}

.block {
  margin-bottom: 20px;
}

/* Page elements */
h1 {
  font-weight: bold;
  font-size: 2em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
  line-height: 1.75em;
}

h2 {
  font-weight: bold;
  font-size: 1.75em;
  font-family: "Trebuchet MS";
  margin-bottom: 0.75em;
  margin-left: 5px;
}

h3 {
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 1em;
  margin-bottom: 0.75em;
  margin-left: 5px;
}

a {
  color: #107FC9;
  text-decoration: none;
  border-bottom: 1px dotted #107FC9; 

  :hover {
    border-bottom: 1px solid #107FC9;
  }
}

pre, code {
  font-size: 1.25em;
  margin: 5px;
  background-color: @background-gray;
  padding: 5px;
  font-family: monospace;
  color: #333;
  border: 1px solid @border-gray;
  .rounded();
  margin: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
  margin: 5px;
  margin-top: 0em;
  margin-bottom: 1em;
}

.bullets {
  list-style-type: square;
  padding: 20px;
  padding-top: 0px;

  li {
    padding-left: 5px;
  }
}

/* Post-specific */
.postInfo {
  font-size: 0.9em;

  a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
    color: #111;

    :hover {
      border-bottom: 1px solid #aaa;
    }
  }
}

.postType {
  color: #fff;
  background-color: #E22929;
  border: 1px solid #f33;
  border-bottom: 1px solid #8C1717;
  border-right: 1px solid #8C1717;
  padding: 3px;

  a {
    color: #fff;
    border-bottom: 1px dotted #fff;

    :hover {
      border-bottom: 1px solid #fff;
    }
  }
}

#files {
  margin-bottom: 1.5em;
  margin-left: 5px;

  ul li a {
    color: #333;
    border: none;

    :hover {
      border: none;
      color: #000;
    }
  }
}

/* Comment-specific */
.commentBox {
  clear: both;
  background-color: @background-gray;
  padding: 5px;
  color: #333;
  font-weight: bold;
  border: 1px solid @border-gray;
  .rounded();
}

.gravatar {
  float: left;
}

.comment {
  line-height: 1.5em;
  color: #222;
  margin-bottom: 1em;
  padding: 5px;
  margin-left: 48px;
}

/* Homepage specific */
.latestComment {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  margin-left: 5px;
}

#welcome {
  background-color: @background-gray;
  border: 1px solid @border-gray;
  .rounded();
  padding: 10px;
  margin-bottom: 20px;
}

#post-content {
  margin: 20px 5px;
}

#body_box {
  border: 1px solid @border-gray;
}

#id_comment {
	height: 200px;
  width: 400px;
	line-height: 150%;
}

//Pretty forms
input, textarea {
	padding: 7px;
	border: solid 1px @border-gray;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #fff;
  .rounded();
}

textarea {
  height: 400px;
  width: 500px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: @border-focus;
}

form {
  ol {
    list-style: none;
  }

  li {
    clear: both;
  }

  label {
    float: left;
    margin-right: 6px;
    line-height: 30px;
  }

  .button {
    padding: 9px;
  }
}

.CodeMirror-wrapping {
  border: 1px solid @border-gray;
  margin: 20px 0px;
  .rounded();
}
